<% rev = false %>
<div class="container-fluid category-page">
  <div class="voted-articles">
  <% @category.articles.order(created_at: :desc).each_with_index do |art,i| %>
    <article class="featured-article article">
      <img class="img-responsive <%=rev ? 'image-reversed' : '' %>" src="<%= art.image ? art.image : "https://www.usanetwork.com/sites/usanetwork/files/2019/07/Suits_S9-KeyArt-Show-Tile-1920x1080.jpg" %>"  alt="suits image" />
      <div class="information <%=rev ? 'information-reversed' : '' %>">
        <span class="cat"><%= @category.name%> </span>
        <h4 class="title">
          <%= art.title %>
        </h4>
        <p class="description">
          <%= art.truncate_text %>
        </p>
        <div class="actions">
          <div>
            <%= link_to 'View full &#8594;'.html_safe, article_path(art.id)  %>
          </div>
          <div class="votes-wrapper">
            <% voted = current_user && art.user_voted?(current_user.id)%>
            <%= link_to voted ?unvotearticle_path(art.id):votearticle_path(art.id), class:'vote-btn' do %>
              <%= image_tag voted ?'clapping_filled.png':'clapping.png' %>
            <% end %>
            <span><%= art.vote_count if art.vote_count && art.vote_count > 0 %></span>
          </div>
        </div>
        
      </div>
    </article>
    <% rev = !rev if (i+1).even? %>
    <% end %>
  </div>
</div>