<nav class="main-nav">
  <%= link_to 'Logo', root_path, class: 'navbar-brand' %>
  <ul class="nav navbar-nav articles-categories">
    <li class="nav-item"> <%= link_to 'Home', root_path %> </li>
    <li class="nav-item"> <%= link_to 'Write an article', new_article_path%>   </li>
  </ul>
  <ul class="nav navbar-nav">
    <% if !current_user%>
      <li> <%= link_to 'Login', login_path%> </li>
      <li><a href="#">|</a></li>
      <li><%= link_to 'Register', signup_path%> </li>
      <li><a href="#">Buscar</a></li>
    <% else %>
      <li> <%= link_to current_user.username, '#' %> </li>
      <li> <%= link_to 'Logout', logout_path, method: 'DELETE'%> </li>
    <% end %>
  </ul>
</nav>
